::-webkit-scrollbar{
    display: none;
}

.navbar{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.container-fluid{
    font-family: 'Times New Roman', Times, serif;
}

.typing-text{
    white-space: pre-line;
    font-family: Georgia;
}

.insta-logo{
    height: 100px;
}

.linkedin-logo{
    height: 100px;
} 

.facebook-logo{
    height: 100px;
}

.github-logo{
    height: 100px;
}

.card-title{
    font-weight: 600;
}

.card{
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
    border-color:black;
    border-width: 5px;
}

/* Styles for phone screens */
@media only screen and (max-width: 600px) {

    .insta-logo,
    .linkedin-logo,
    .facebook-logo,
    .github-logo {
        height: 50px;
    }

}