::-webkit-scrollbar{
    display: none;
}

.navbar{
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.container-fluid{
    font-family: 'Times New Roman', Times, serif;
}

.typing-text{
    font-family: Georgia; 
    font-size: 20px;

}

.card-link{
  text-decoration: none;
}

.header{
    text-align: center; 
    font-family:'Gill Sans';
    font-weight: 800;
}

.date-type{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    text-decoration: none; /* Remove underline */
    /* cursor: default; */
}

.card-title{
    font-weight: 600;
}

.card{
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Styles for small screens (phones) */
@media only screen and (max-width: 767px) {
    ::-webkit-scrollbar {
      display: none;
    }
    
    h1 {
      text-align: center;
      font-family: Impact;
      font-size: 24px;
    }
    
    .navbar {
      box-shadow: none;
    }
    
    .container-fluid {
      font-family: 'Times New Roman', Times, serif;
    }
    
    .typing-text {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 16px;
    }
    
    .header {
      text-align: center;
      font-family: 'Gill Sans';
    }
    
    .date-type {
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-decoration: underline;
    }
    
    .card-title {
      font-weight: 600;
    }
    
    .card-link{
      text-decoration: none;
    }
    
    .card{
        transition: transform 0.3s;
    }
    
    .card:hover{
        transform: scale(1.05);
    }
    /* Other styles specific to phones */
}